/* filepath: c:\WhiteHelmetTask\WhiteHelmetTask\src\app\shared\form-control-error\form-control-error.component.scss */
mat-error {
  display: block;
  margin-top: 4px;
  font-size: 12px;
  color: #f44336; /* Material Design error color */
}