.error-container {
    display: flex;
    align-items: center;
    font-size: 10px;
    color: #EB3E3E;
    margin-top: 8px;
}

.error-icon {
    width: 18px !important;
    height: 18px !important;
    font-size: 18px;
    display: flex;
    align-items: center;
    margin-right: 8px;
}

.error-message {
    display: flex;
    align-items: center;
}