.login-card {
    max-width: 400px;
    margin: 100px auto;
    padding: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  
    h2 {
      text-align: center;
      margin-bottom: 20px;
    }
  
    .full-width {
      width: 100%;
      // margin-bottom: 16px;
    }
  }