<mat-card class="login-card">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <div class="centered-text">
            <h3 class="app-f-xl app-t-black app-fw-normal app-mb-2">Pet Attraction</h3>
            <h4 class="app-f-sm app-fw-light app-t-gray app-mb-6">Enter your credentials to access the admin dashboard
            </h4>
        </div>
        <div class="input-field">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>username</mat-label>
                <input matInput formControlName="username" />
            </mat-form-field>
            <app-form-control-error [control]="username" [errorMessages]="{required:'username is required' }">
            </app-form-control-error>
        </div>

        <div class="input-field">

            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Password</mat-label>
                <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" />
                <button mat-icon-button matSuffix type="button" (click)="hidePassword = !hidePassword">
                    <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
            </mat-form-field>
            <app-form-control-error [control]="password">
            </app-form-control-error>

        </div>
        <button mat-flat-button color="primary" type="submit" class="login-btn" [disabled]="loginForm.invalid">
            Login
        </button>
    </form>
</mat-card>