<div class="sidenav " [class.is-mobile]="isMobile()">

    <mat-sidenav-container class="sidenav-container " [style.marginTop.px]="isMobile() ? 56 : 0">
        <mat-sidenav class="!app-bg-primary app-h-full" #snav [mode]="isMobile() ? 'over' : 'side'"
            [opened]="isSidenavOpen" [fixedInViewport]="isMobile()" fixedTopGap="56" [opened]="!isMobile()">
            <mat-nav-list>
                @for (nav of navList; track nav) {
                <div class="app-flex app-px-4 app-py-2 app-justify-start app-items-center pointer"
                    [routerLink]="nav.url" routerLinkActive="active-link">
                    <span class="material-symbols-outlined app-t-white app-mr-3">
                        {{nav.icon}}
                    </span>
                    <span class="nav-text app-t-white">{{nav.displayName}}</span>

                </div>
                }

            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content class="app-px-4 ">
            <ng-content></ng-content>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>