@use '@angular/material' as mat;
@use "assets/styles/matForm.scss";

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  height: 100%;
}


:root {
  --label-color: #333333;
  /* Default label color */
  --darkBlue: #004080;
  /* Example variable */
  --darkgray: #666666;
  /* Example variable */
}